__pycache__/
*.pyc
*.pyo
*.pyd

.env
venv/
.git
.gitignore
.vscode/
.idea/

node_modules/
*.log
.DS_Store

# ingestion only
app/ingestion/
scripts/
tests/

# raw data (not needed)
data/raw/
data/manual/
data/chunks/